*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("background.jpg");
    /* background-color: #B5DEFF; */
    font-family: "Zen Kurenaido", sans-serif;
}

.description{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-level{
    color: #F6D167;
    font-size: 4rem;
    padding-top: 2rem;
}
.ui-message{
    color: #F6D167;
    font-size: 2rem;
}

.level-two{
    display: none;
}

.next-button{
    font-family: "Zen Kurenaido", sans-serif;
    font-size: large;
    margin-top: 0.75rem;
    padding: 1rem 2rem;
    background: rgba(79, 49, 148);
    color: rgba(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.scary-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
